<%= erb :header, :layout => false %>
<div class="col-lg-6 pull-left">
  <form class="form-signin" method="POST" action="/new" enctype="multipart/form-data">
    <h2 class="form-signin-heading">New post</h2>
    <input type="text" class="form-control" placeholder="Title" autofocus name="post" />
    <input type="text" class="form-control" placeholder="Your name" name="author" />
    <textarea class="form-control" placeholder="Body" name="comment" rows="6"></textarea>
    <input type="file" class="form-control" name="image" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
  </form>
</div>

<div class="col-lg-6">
  <% Post.all(:limit => num_posts).reverse.each do |post| %>
  <h4><a href="/p/<%= post.uid %>"><%=h post.title %></a></h4>
  <span class="author">by <%= post.author || "anonymous" %></span>
  <p>
    <% if post.image %>
    <div>
      <a href="/p/<%= post.uid %>">
	<img src="<%= post.image.thumb %>" width="150"/>
      </a>
    </div>
    <% end %>

    <ul class="comments">
      <% post.comments.each do |comment| %>
      <li><%= "ADMIN " if comment.admin %><span class="date"><%= comment.nicedate %></span><br />
	<%=h comment.body %>
      </li>
      <% end %>
      <form method="POST" action="/p/<%= post.uid %>">
	<input type="hidden" name="orig" value="<%= @orig %>" />
	<tr><td><input id="new" type="text" width="100%" name="body" /><input type="submit" value="Comment" /></td></tr>
      </form>
    </ul>

    <% end %>
  </p>
</div>
<%= erb :footer, :layout => false %>
