<style>
body {
    margin:0;
    padding:0;
}
.date {
    font-size: 9px;
    color: #3D352A;
  }
</style>

<body>
  <form method="POST" action="/new">
    Post:<br />
    <input type="text" name="post" />
    <br />
    Comment: <br />
    <input type="text" name="comment" />
    <br />
    <input type="submit" value="Post" />
  </form>

  <% Post.all(:limit => 10).reverse.each do |post| %>
  <table border="1" width="500px">
    <tr><td><h2><a href="/p/<%= post.uid %>"><%=h post.title %></h2></a></td></tr>
    <% post.comments.each do |comment| %>
    <tr><td><span class="date"><%= comment.nicedate %></span><br /><%=h comment.body %></td></tr>
    <% end %>
    <form method="POST" action="/p/<%= post.uid %>">
      <input type="hidden" name="orig" value="<%= @orig %>" />
      <tr><td><input type="text" width="100%" name="body" /><input type="submit" value="Comment" /></td></tr>
    </form>
  </table>
  <br>
  <% end %>
</body>
