<script type="text/javascript">
    window.onload = function() {
	document.getElementById("new").focus();
    };
</script>

<body>
  <table border="1">
    <tr><td><h2><%= @post.title %></h2><br /><%= @post.created_at %></td></tr>
    <% @post.comments.each do |comment| %>
    <tr><td><%= comment.body %><br /><%= comment.created_at %></td></tr>
    <% end %>
    <form method="POST" action="/p/<%= @post.uid %>">
      <input type="hidden" name="orig" value="<%= @orig %>" />
      <tr><td><input id="new" type="text" width="100%" name="body" /><input type="submit" value="Comment" /></td></tr>
    </form>
  </table>
</body>
<br />
<a href="/">Home</a>