<%= erb :header, :layout => false %>

<div class="col-lg-6">
  <h4><a href="/p/<%= @post.uid %>"><%=h @post.title %></a></h4>
  <span class="author">by <%=h @post.author || "anonymous" %></span>
  <p>
    <% if @post.image %>
    <div>
      <a href="<%= @post.image.url %>">
	<img src="<%= @post.image.thumb %>" width="300"/>
      </a>
    </div>
    <% end %>

    <ul class="comments">
      <% @post.comments.each do |comment| %>
      <li><%= "ADMIN " if comment.admin %><span class="date"><%= comment.nicedate %></span><br />
	<span class="content">
	  <%=h comment.body %>
	</span>
      </li>
      <% end %>
      <form method="POST" action="/p/<%= @post.uid %>">
	<input type="hidden" name="orig" value="<%= @orig %>" />
	<input id="new" type="text" width="100%" name="body" />
	<input type="submit" value="Comment" />
      </form>
    </ul>

  </p>
</div>
<%= erb :footer, :layout => false %>
